.header{
    border-style: dotted;
    position: relative;
    
    bottom:38px
}
@media screen and (max-width: 200px) {
    .header{  width:7cm; }
    .header{height:48rem;}
}
.sliderimg{
    width: 100%;
    height: 500px;
    object-fit: cover;
    }
.About{
    border-style: dotted;
    text-align: left;
    padding-left: 2rem;
    margin-left: 15rem;
    bottom:-.5cm;
    position: relative;
    
    right:2.1cm;
    /* background-color: red; */
  /* animation-name: example; 
  animation-duration: 4s;    */
}
/* @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  } */
  .About :hover{
    animation-name: exampl; 
  }
  @keyframes example {
    from {background-color: pink;}
    to {background-color: blue;}
  }

.About h1{
    padding-top:1.5rem;
    position: inherit;
}
.About p{
    font-size: 20px;
    padding-top: 1.5rem;
}
@media screen and (max-width: 200px) {
    .About { width:50cm; }
    .About{margin-left: 216px;}
    .About{height:15cm;}
}
/* .About :hover{
    z-index: 100;
    transition: all 200ms ease-in;
    transform: scale(1.5);
} */
.Dean{
    border-style: dotted;
    /* display: flex; 
    align-items: right; */
    position: relative;
    top:30px;
    height:15cm;
    padding-left: 20px;
   
}
.DTDean{
    border-style: dashed;
    width:30%;
    padding-top: 20px;
    position:relative;
    left:25cm;
    bottom:11.5cm;
   
}
.DTDean p{
    padding-top: 20px;
}
@media screen and (max-width: 200px){
    .DTDean {width: 200px; }
    .DTDean{position: relative;right:10cm}

}
.Dean img{
    position: relative;
    bottom:60px;
    right:3.5cm;
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

.events{
    border-style: dotted;
    height:15cm;
    width:25cm;
    margin-left: 15rem;
    position: relative;
   top:30px;
   text-align: left;
   padding-left: 2rem;
   animation: mymove 5s infinite;
   animation-timing-function: ease-in;
}
.footer{
    border-style: dotted;
    position: relative;
    top:50px;
    height:10cm;
    background-color: #434343;
}
.icon{
   border-style: dashed;
   position: relative;
   top:70px;
   display: flex;
   gap: 3rem;
   padding-left: 15cm;
}
.icon a{
    text-decoration: none;
    color:black;
}
.video{
    position: relative;
    z-index: 2;
    right:0cm;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.video video{
    position: relative;
    padding-top: 2px;
}
@media screen and (max-width: 200px) {
    .video {  width:7cm; }
    .video{height:20cm;}
}
.deanintro{
    border-style: dotted;
    position: relative;
    bottom:15cm;
    width:20rem;
    height:5.5cm;
    padding-top: 20px;
}
@media screen and (max-width: 200px) {
    .footer{  width:7cm; }
    .footer{height:48rem;}
}