.Headingbox{
  border-style: dashed;
 position: inherit;
height:130px;
background: #143F6B;
}
.details{
  /* border-style: dashed; */
  position: relative;
  width: 70px;
  left:925px;
  /* top:25px; */
  font-size: 35px;
  bottom:0px;
  color:white;
}
.contact{
  position: relative;
  /* border-style: dotted; */
  width: 200px;
  bottom:4cm;
  left:33cm;
  /* top:-25px; */
  font-size: 35px;
  color:white;;
}
.Edu{
  /* border-style: dotted; */
  width:150px;
  font-size: 35px;
  bottom:2.03cm;
  left:28cm;
  position: relative;
  color:white;
}
.container{
  font-family: 'League Spartan Thin';
  border-radius: 20px;
    /* border-style:dotted; */
    width:800px;
    position:absolute;
    left:100px;
    top:250px;
    height:300px;
    text-align: left;
    background-color:  #37a0e2 ;
    color:#000000  ;
    /* font-style: italic; */
    font-size: 35px;
}
.heading{
  position: inherit;
  left:30px;
}
.image{
    position: absolute;
    /* right: 300px; */
    width: 250px;
    height: 250px;
    top:250px;
    left:1000px;
    border-radius: 50%;
    
    padding: 20px;
    /* width: 200px;
    height: 150px; */
}
.RM{
    color:aqua;
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    border-style: solid;
    box-sizing: border-box;
    color: #35916b;
    cursor: pointer;
    display: inline-flex;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    top:100px;
}
 .RM a {
    text-decoration: none;
    color: var(--color-primary-400);
  }
  
  .RM a:hover,
  .RM a.active {
    color: red;
  }

.para{
    position: relative;
    font-size: 20px;
    top:45px;
}
.About{
  color:black;
  top:-5px;
  border-style: dotted;
  border-color: #000000;
  top:19cm;
  position:relative;
  font-size:50px;
  height:15cm;
  padding-left: 20px;
}
.Abtcontainer{
  border-style:dashed;
  width:1000px;
  position: inherit;
  left:30px;
  font-size: 25px;
}
.abtimage{
  position: relative;
  left:30cm;
  bottom:350px;
  border-radius: 50%;
}
.immg{
  border-radius: 50%;
  height:300px;
  width:300px
}
.contactme{
  border-style:dashed;
  position:relative;
  top:20cm;
  height:15cm;
  font-size: 40px;
  padding-left: 20px;
  }
.timelline {
  height: 100px; 
  padding: 100px 0;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  top:50px;
  left:1px
}

.timelline .timeline {
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
}

.timelline .timestamp {
  margin: auto;
  margin-bottom: 5px;
  padding: 0px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timelline .status {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  border-top: 3px solid #455EFC;
  position: relative;
  transition: all 200ms ease-in;
}
.timelline .status span {
  padding-top: 8px;
}
.timelline .status span:before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #455EFC;
  border-radius: 12px;
  border: 2px solid #455EFC;
  position: absolute;
  left: 50%;
  top: 0%;
  /* -webkit-transform: translate(-50%, -50%); */
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 200ms ease-in;
}

.swipercontainer {
  width: 95%; 
  margin: auto;
  overflow-y: auto;
}
.swiperwrapper{
  display: inline-flex;
  flex-direction: row;
  overflow-y:auto;
  justify-content: center;
}
/* .swipercontainer::-webkit-scrollbar-track{
   background:#a8a8a8b6;
}
.swipercontainer::-webkit-scrollbar{
  height: 2px;
} */
/* .swipercontainer::-webkit-scrollbar-thumb{
   background: #4F4F4F !important;
} */
.swiperslide {
  text-align: center;
  font-size: 20px;
  width: 400px;
  height: 100%;
  position: relative;
}
.CM{
  border-style: dashed;
  position: relative;
  top:22cm;
  font-size: 30px;
  padding-left: 20px;  
}
.CM a{
 text-decoration:none;
 color:#35916b;
}
.icons{
  float: right;
  position: relative;
  top:11cm;
  right:10cm;
}
.iconlinkedin{
  float: right;
  position: relative;
  top:11cm;
  right:6cm;
  height: max-content
}
.githubicon{
  float: right;
  position: relative;
  top:11cm;
  right:6.6cm;
}